[mysqld]
# 1GB 内存优化配置
innodb_buffer_pool_size = 128M
innodb_log_buffer_size = 8M
sort_buffer_size = 256K
join_buffer_size = 256K
read_buffer_size = 128K
read_rnd_buffer_size = 256K
key_buffer_size = 16M
max_connections = 50
table_open_cache = 200
table_definition_cache = 200
thread_cache_size = 8
tmp_table_size = 16M
max_heap_table_size = 16M

# 安全和性能配置
skip-host-cache
skip-name-resolve
datadir=/var/lib/mysql
socket=/var/run/mysqld/mysqld.sock
secure-file-priv=/var/lib/mysql-files
user=mysql
pid-file=/var/run/mysqld/mysqld.pid

[client]
socket=/var/run/mysqld/mysqld.sock

!includedir /etc/mysql/conf.d/
